/**
 * Top menu
 */
.MuiAppBar-root {
  z-index: 1201 !important;
}

.MuiDrawer-paper {
  overflow-x: hidden;
}

/**
 * Page layout
 */
.home {
  background-image: url('/irma-2017_data-from-nasa-modis_processed-by-antti-lipponen_1280.jpg');
  background-size: cover;
  background-position: center center;
}

/**
 * Map and controls
 */
.mapboxgl-ctrl-logo {
  display: none !important;
}
